/* Ocultar elementos cuando no deben mostrarse */
.itemBoxej.hide, .mu-google-btni.hide {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: opacity 3s ease-in-out, transform 3s ease-in-out;
}

/* Mostrar solo "Próximamente" */
.itemBoxej.prox {
  opacity: 1;
  transform: translateY(0);
}


/* Transición para mostrar los elementos */
.itemBox.active, .itemBoxej.active {
  animation-name: show;
  animation-duration: 3s;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Transición para ocultar los elementos */
.itemBox.hide, .itemBoxej.hide {
  opacity: 0;
  transform: translateY(-20px); /* Desplazamiento al ocultar */
  pointer-events: none; /* Desactivar interacciones mientras está oculto */
  transition: opacity 3s ease-in-out, transform 3s ease-in-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Mostrar elementos sin efectos */
.itemBox, .itemBoxej {
  opacity: 1;
  transform: translateY(0); /* Restablece su posición */
  transition: opacity 3s ease-in-out, transform 3s ease-in-out;
}

/* Filtro general con transiciones */
.filtro, .municipios {
  margin-top: 20px;
  opacity: 1;
  transition: opacity 3s ease-in-out, transform 3s ease-in-out;
}

/* Estado oculto de los filtros */
.filtro.hide, .municipios.hide {
  opacity: 0;
  pointer-events: none;
}

/* Estado visible de los filtros */
.filtro.show, .municipios.show {
  opacity: 1;
  pointer-events: auto;
}

/* Transiciones específicas para provincias (comunidades autónomas) */
.filtro.comunidades li {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 3s ease-in-out, transform 3s ease-in-out;
}

.filtro.comunidades li.hide {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
}

.filtro.comunidades li.active {
  animation-name: show;
  animation-duration: 3s;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.filtro.comunidades li.active {
  animation-name: show;
  animation-duration: 3s;
  opacity: 1;
  transform: translateY(0);
}

/* Ajuste para la visibilidad de los municipios */
.municipios a.hide {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: opacity 3s ease-in-out, transform 3s ease-in-out;
}

.municipios a.active {
  animation-name: show;
  animation-duration: 3s;
  opacity: 1;
  transform: translateY(0);
}
